<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/compte_resto.css">
    <link rel="stylesheet" href="/css/tools/normalize.min.css">
  </head>
  <body>
    <div id="main">
      <div id="header">
        <nav>
          <ul id="nav">
            <li id="first">
              <il id="logo">
                  <a href="/"><img src="/image/livreur_garcon.png" alt="logo"></a>
              </il>
              <ul id="menu">
                <li><a href="/">ACCUEIL</a></li>
                <li><a href="/">ACCUEIL</a></li>
                <li><a id="register" href="#">S'INSCRIRE</a></li>
              </ul>
            </li>
            <li id="second">
                <li id="user"><a href="#"></a></li>
                <li id="drop"><a href="#">
                  <svg width="30" height="30" fill='none' stroke='#aaa' stroke-width='1'>
                    <path d="M15,3 L15,27 m-7,-5 l7,5 7,-5" >
                  </svg>
                </a></li>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
