#login {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#wrapper, #header, #header form, #header p, #top, #restos {
  display: flex;
}

#wrapper, #header, #top, #restos {
  width: 100%;
}

#header {
  width: 100%;
  background: rgb(215, 247, 255);
  /* background: #79d0f2; */
  /* background: #7cd3f3; */
  /* background: #93b4bb; */
  height: 30vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#wrapper {
  flex-direction: column;
  background: url("/image/icon-title.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: top;
}

#wrapper h1 {
  width: 100%;
  color: #7cd3f3;
  display: flex;
  font-family: arial;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}


#header input {
  width: 120px;
  height: 50px;
  margin: 5px;
  padding-left: 3px;
}

#header button {
  width: 80px;
  height: 50px;
  margin: 5px;
  color: #fff;
  font-weight: 600;
  background: #7cd3f3;
}

#header svg {
  margin-left: 4px;
}

#header p {
  justify-content: center;
  font-size: 14px;
  color: #666;
  font-weight: 600;
  letter-spacing: 2px;
}

#header form{
  position: relative;
  top: 10px;
  justify-content: center;
  flex-flow: row wrap;
}

#jude {
  height: 65vh;
  background: url("/image/jude.png");
  background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
}

#top {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#restos {
  flex-flow: row wrap;
  /* justify-content: center; */
  align-items: center;
}

.resto {
  width: 429px;
  height: 50vh;
  margin: 10px;
}

#r1 {
  background-image: url("/image/leckford.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}


#r2 {
  background-image: url("/image/twyford.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}

#r3 {
  background-image: url("/image/good-life.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}

#r4 {
  background-image: url("/image/national-trust.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}

#r5 {
  background-image: url("/image/selfridges.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}

#r6 {
  background-image: url("/image/whole-foods.png");
  background-color: #e9e7e2;
  background-position: center;
  background-repeat: no-repeat;
}

.optional {
  width: 100%;
  height: 50vh;
  background: rgb(215, 247, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.optional button {
  width: 150px;
  height: 50px;
  background: #7cd3f3;
}


@media screen and (max-width: 660px) {
  .resto {
      width: 500px;
      height: 40vh;
  }

  #header h1 {
    font-size: 16px;
  }

  #header p {
    font-size: 10px;
  }

  #top h1 {
    font-size: 18px;
  }

  .optional button  {
    width: 100px;
  }

  .optional h3 {
    font-size: 11px;
    word-spacing: -2px;
  }
}
